<footer class="footer">
	<div class="footer__container">
		<div class="footer__inner">
			<div class="footer__content">
				<div class="footer__about">
					<a class="header__logo footer__logo" href="index.html">
						<img src="@img/logo-white.svg" alt="Greendark">
					</a>
					<p class="footer__text">
						Greenbroad LLC is not a law firm. The services and information provided are not legal advice and do not substitute the same level of advice, opinion, guidance or recommendation that a licensed immigration attorney can provide. Greenbroad is not affiliated with the USCIS. The purchase price of services does not include USCIS government filing fees.
					</p>
				</div>
				<ul class="spoiler__list">
					<div data-accordion class="spoiler">
						<div class="spoiler__preview">
							<h4 class="spoiler__title">Immigration Services</h4>
							<div class="spoiler__icon">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 0V20M20 10L0 10" stroke="white" stroke-width="3"/>
									</svg>
							</div>
						</div>
						<div class="spoiler__wrapper">
							<div class="spoiler__body">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__link">
											Green Card
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">
											Adjust Status
										</a>
									</li>
									<li class="footer__item">
											<a href="#" class="footer__link">
												Petition a Relative
											</a>
										</li>
									<li class="footer__item">
											<a href="#" class="footer__link">
												Renew a Green Card
											</a>
										</li>
									<li class="footer__item">
											<a href="#" class="footer__link">
												Removal of Conditions
											</a>
										</li>
									<li class="footer__item">
											<a href="#" class="footer__link">
												Citizenship
											</a>
										</li>
									<li class="footer__item">
											<a href="#" class="footer__link">
												All Services
											</a>
										</li>
								</ul>
							</div>
						</div>
					</div>
					<div data-accordion class="spoiler">
						<div class="spoiler__preview">
							<h4 class="spoiler__title">Legal</h4>
							<div class="spoiler__icon">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 0V20M20 10L0 10" stroke="white" stroke-width="3"/>
									</svg>
							</div>
						</div>
						<div class="spoiler__wrapper">
							<div class="spoiler__body">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__link">
											Security
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">
											Privacy Policy
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">
											End User Agreement
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">
											Terms and Conditions
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">
											Limited Scope Agreement
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div data-accordion class="spoiler">
						<div class="spoiler__preview">
							<h4 class="spoiler__title">Greenbroad</h4>
							<div class="spoiler__icon">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 0V20M20 10L0 10" stroke="white" stroke-width="3"/>
									</svg>
							</div>
						</div>
						<div class="spoiler__wrapper">
							<div class="spoiler__body">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__link">
											About Us
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">
											Contact Us
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</ul>
			</div>
			<p class="footer__copy">
				Copyright &COPY; 2021 Greenbroad LLC. All rights reserved.
			</p>
		</div>
	</div>
</footer>