<header class="header">
	<div class="header__container">
		<div class="header__body">
			<a class="header__logo" href="index.html">
				<img src="@img/logo-dark.svg" alt="Greendark">
			</a>
			<div class="header-action__body">
				<ul class="header__action header-action">
					<li class="header-action__item"><a href="#">How it works</a></li>
					<li class="header-action__item"><a href="#">Plans & Pricing</a></li>
					<li class="header-action__item"><a href="#">Testimonials</a></li>
					<li class="header-action__item"><a href="#">FAQs</a></li>
				</ul>
				<a href="#" class="header__btn">
					Start Now
				</a>
			</div>
			<div class="header__controls">
				<a href="#" class="header__controls-btn">Start Now</a>
				<div class="header__burger burger">
					<div class="burger__wrapper">
						<span></span>
					</div>
				</div>
			</div>
		</div>
			<!-- <div data-to-hide class="header__bottom">
				<p style='font-size: 30px; background-color: red; text-align: center;'>Some content to hide on scroll</p>
			</div> -->
	</div>
</header>