body.home {
   background-color: $light;
   .hero {
      background-color: $bg;
      &__container {
         padding-top: 14px;
         padding-bottom: 40px;
         @extend %container;
         @media (min-width: 600px) {
            padding-top: 20px;
            padding-bottom: 60px;
         }
         @media (min-width: 993px) {
            padding-top: 30px;
            padding-bottom: 70px;
         }
         @media (min-width: 1300px) {
            padding-top: 45px;
         }
         @media (min-width: 1600px) {
            padding-top: 60px;
         }
      }
      &__inner {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        position: relative; 
        @media (min-width:993px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: percent(72, 1840);
            padding-right: percent(72, 1840);
         }
      }
      &__content {
         max-width: 634px;
         width: 100%;
         @media (min-width: 993px) {
            max-width: 688px;
         }
      }
      &__title {
        @include fl(38,44);
        font-weight: 800;
        margin-bottom: 12px;
        .small-br {
            display: block;
         }
         @media (min-width: 470px) {
            .small-br {
               display: unset;
            }
            .medium-br {
               display: block;
            }
         }
         @media (min-width: 600px) {
            @include fl(58,67);
            margin-bottom: 20px;
         }
         @media (min-width: 993px) {
            @include fl(38,44);
            margin-bottom: 24px;
         }
         @media (min-width: 1200px) {
            @include fl(58, 67);
         }
         @media (min-width: 1600px) {
            @include fl(68,78);
         }
      }
      &__text {
         @include fl(15,24);
         margin-bottom: 24px;
         @media (min-width: 600px) {
            @include fl(16,26);
            margin-bottom: 32px;
         }
         @media (min-width: 993px) {
            margin-bottom: 40px;
         }
      }
      &__btn {
         @extend %btn;
         @include fl(18,27);
         font-weight: 700;
         background-color: $blue;
         color: $light;
         padding: 22px 0;
         max-width: 240px;
         width: 100%;
         &:hover {
            background-color: #4d6aff;
         }
      }
      &__pic {
         transform: scaleX(-1);
         border-radius: 24px;
         padding-bottom: percent(326, 344);
         @media (min-width: 500px) {
            padding-bottom: percent(480, 729);
         }
         @media(min-width: 993px) {
            padding-bottom: percent(832, 1696);
            max-width: 832px;
         }
      }
   }
   .work {
      background-color: $bg;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      &__container {
         @extend %container;
         padding-top: 40px;
         padding-bottom: 16px;
         @media (min-width: 600px) {
            padding-top: 60px;
            padding-bottom: 20px;
         }
         @media (min-width: 993px) {
            padding-top: 70px;
            padding-bottom: 30px;
         }
         @media (min-width: 1250px) {
            padding-bottom: 40px;
         }
      }
      &__inner {
         padding: 36px 16px;
         border-radius: 32px;
         background-color: #fff;
         @media (min-width: 600px) {
            padding: 36px;
         }
         @media (min-width: 769px) {
            padding: 48px;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__title {
        @extend %sec-title;
         margin-bottom: 16px;
         text-align: center;
         span {
            display: block;
         }
      }
      &__text {
        @extend %sec-text;
         text-align: center;
         margin-bottom: 28px;
         @media (min-width: 769px) {
            max-width: 832px;
            margin: 0 auto 28px;
         }
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 20px;
         @media (min-width: 769px) {
            gap: 24px;
         }
         @media (min-width: 993px) {
            gap: 32px;
         }
         @media (min-width: 1250px) {
            flex-direction: row;
            justify-content: center;
         }
      }
      &__item {
         padding: 24px;
         display: flex;
         gap: 20px;
         background: rgba(255, 255, 255, 0.5);
         box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
         border-radius: 16px;
         @media (min-width: 769px) {
            padding: 32px;
            gap: 40px;
         }
         @media (min-width: 1250px) {
            max-width: 544px;
            width: 100%;
         }
      }
      &__desc-title {
         @include fl(18,29);
         font-weight: 700;
         margin-bottom: 8px;
         @media (min-width: 769px) {
            @include fl(20,32);
         }
      }
      &__desc-text {
         @include fl(14, 22);
         @media (min-width: 769px) {
            @include fl(15,24);
         }
      }
      &__btn {
         @extend %btn;
         margin: 28px auto 0;
         padding: 18px 0;
         max-width: 220px;
         width: 100%;
         border: 1px solid #333333;
         border-radius: 8px;
         font-weight: 500;
         &:hover {
            background-color: $blue;
            color: $light;
         }
         @media (min-width: 769px) {
            margin-top: 40px;
         }
         @media (min-width: 993px) {
            margin-top: 60px;
         }
      }
   }
   .marriage {
      background-color: #fff;
      margin-top: 16px;
      @media (min-width: 769px) {
         margin-top: 20px;
      }
      @media (min-width: 1200px) {
         margin-top: 30px;
      }
      @media (min-width: 1500px) {
         margin-top: 40px;
      }
      &__container {
         @extend %container;
         background: #FFF6E9;
         border-radius: 32px;
         @media (min-width: 600px) {
            background: unset;
            border-radius: unset;
         }
      }
      &__inner {
         display: flex;
         flex-direction: column;
         gap: 28px;
         padding: 36px 0;
         @media (min-width: 600px) {
            padding: 36px;
            background: #FFF6E9;
            border-radius: 32px;
         }
         @media (min-width: 769px) {
            padding: 48px;
            gap: 40px;
         }
         @media (min-width: 993px) {
            flex-direction: row;
            justify-content: space-between;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__pics {
         display: flex;
         align-items: center;
         gap: 12px;
         @media (min-width: 769px) {
            gap: 16px;
         }
         @media (min-width: 993px) {
            flex: 1 0 50%;
         }
      }
      &__pic {
         border-radius: 16px;
         border: 4px solid #FFFFFF;
         padding-bottom: percent(166, 237.93);
         &:nth-child(2) {
            img {
               object-position: right;
            }
         }
         &:nth-child(3) {
            display: none;
         }
         @media (min-width: 769px) {
            border-width: 6px;
            padding-bottom: percent(308, 529.79);
         }
         @media (min-width: 993px) {
            max-width: 264px;
         }
         @media (min-width: 1440px) {
            &:nth-child(3) {
               display: block;
            }
            padding-bottom: percent(264, 734.34);
         }
      }
      &__content {
         @media (min-width: 993px) {
            max-width: 688px;
            width: 100%;
         }
      }
      &__title {
        @extend %sec-title;
        margin-bottom: 16px;
        @media (min-width: 769px) {
         margin-bottom: 20px;
        }
      }
      &__text {
         @extend %sec-text;
      }
   }
   .choose {
      margin-top: 16px;
      @media (min-width: 769px) {
         margin-top: 20px;
      }
      @media (min-width: 1200px) {
         margin-top: 30px;
      }
      @media (min-width: 1500px) {
         margin-top: 40px;
      }
      &__container {
         @extend %container;
         background: #EBEEFB;
         border-radius: 32px;
         @media (min-width: 600px) {
            background: unset;
            border-radius: unset;
         }
      }
      &__inner {
         display: flex;
         flex-direction: column;
         gap: 28px;
         padding: 36px 0;
         @media (min-width: 600px) {
            padding: 36px;
            background: #EBEEFB;
            border-radius: 32px;
         }
         @media (min-width: 769px) {
            padding: 48px;
            gap: 40px;
         }
         @media (min-width: 993px) {
            flex-direction: row;
            justify-content: space-between;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__content {
         @media (min-width: 993px) {
            max-width: 688px;
            width: 100%;
         }
      }
      &__title {
         @extend %sec-title;
         margin-bottom: 16px;
         @media (min-width: 769px) {
            margin-bottom: 20px;
         }
      }
      &__text {
         @extend %sec-text;
      }
      &__list {
         display: flex;
         flex-wrap: wrap;
         gap: 12px;
         @media (min-width: 769px) {
            gap: 24px;
         }
         @media (min-width: 1250px) {
            gap: 32px;
            max-width: 832px;
            width: 100%;
         }

      }
      &__item {
         min-width: 166px;
         width: 100%;
         background: rgba(255, 255, 255, 0.5);
         box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
         border-radius: 16px;
         text-align: center;
         padding: 16px 12px;
         flex-basis: 48.026%;
         @media (max-width: 375px) {
            min-width: unset;
            flex-basis: 47%;
         }
         @media (min-width: 769px) {
            padding: 28px 20px;
         }
         @media (min-width: 993px) {
            flex-basis: 46%;
         }
         @media (min-width: 1440px) {
            flex-basis: 47%;
         }
         @media (min-width: 1920px) {
            flex-basis: 48.077%;
         }
      }
      &__item-num {
         @include fl(48,77);
         font-weight: 700;
         @media (min-width: 769px) {
            @include fl(68, 109);
         }
      }
      &__item-text {
         @include fl(14,22);
         @media (min-width: 769px) {
            @include fl(15, 24);
         }
      }
   }
   .get {
      background-color: #fff;
      margin-top: 16px;
      @media (min-width: 769px) {
         margin-top: 20px;
      }
      @media (min-width: 1200px) {
         margin-top: 30px;
      }
      @media (min-width: 1500px) {
         margin-top: 40px;
      }
      &__container {
         @extend %container;
         background: #FFF6E9;
         border-radius: 32px;
         @media (min-width: 600px) {
            background: unset;
            border-radius: unset;
         }
      }
      &__inner {
         padding: 36px 0px;
         @media (min-width: 600px) {
            padding: 36px;
            background: #FFF6E9;
            border-radius: 32px;
         }
         @media (min-width:768px) {
            padding: 48px;
         }
         @media (min-width: 993px) {
            padding: 72px;
         }
      }
      &__title {
         @extend %sec-title;
        margin-bottom: 16px;
        text-align: center;
        @media (min-width: 769px) {
         max-width: 500px;
         width: 100%;
         margin: 0 auto 20px;
        }
        @media (min-width: 1400px) {
         max-width: 600px;
        }
      }
      &__text {
         @extend %sec-text;
         text-align: center;
         max-width: 600px;
         width: 100%;
         margin: 0 auto;
         @media (min-width: 1400px) {
            max-width: 880px;
         }
       
      }
      &__list {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         gap: 12px;
         padding: 28px 0 68px;
         @media (min-width: 500px) {
            gap: 16px;
            padding: 33px 0 84px;
         }
         @media (min-width: 993px) {
            gap: 20px;
            padding: 40px 0 100px;
         }
         @media (min-width: 1440px) {
            padding: 60px 0 140px;
         }
      }
      &__item {
         max-width: 200px;
         width: 100%;
         border-radius: 16px;
         flex: 1 0 48%;
         padding-bottom: percent(158, 344);
         border: 4px solid $light;
         img {
            transition: all .5s ease;
            &:hover {
               transform: scale(1.1);
            }
         }
         &:nth-child(even) {
            transform: translateY(40px);
         }
         &:nth-child(n+5) {
            display: none;
         }
         &:nth-child(2),
         &:nth-child(7) {
            img {
               object-position: 90%;
            }
         }
         &:nth-child(4) {
            img {
               object-position: 60%;
            }
         }
         &:nth-child(9) {
            img {
               object-position: 30%;
            }
         }
         @media (min-width: 500px) {
            flex: 1 0 32%;
            padding-bottom: percent(192, 657.57);
          &:nth-child(n+5) {
            display: unset;
          }
          &:nth-child(n+7) {
            display: none;
          }     
         }
         @media (min-width:768px) {
            padding-bottom: percent(200, 659.95);
            &:nth-child(1),
            &:nth-child(3) {
               transform: translateY(40px);
            }
            &:nth-child(2),
            &:nth-child(5) {
               transform: translateY(0px);
            }
         }
         @media (min-width: 950px) {
            flex: 1 0 23%;
            &:nth-child(n+7) {
               display: unset;
            }
            &:nth-child(n+9) {
               display: none;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
               transform: translateY(0px);
            }
            &:nth-child(2) {
               transform: translateY(40px);
            }
         }
         @media (min-width: 1250px) {
            max-width: 266px;
            flex: 1 0 16%;
            padding-bottom: percent(266, 1748.57);
            border: 6px solid $light;
            &:nth-child(n+9) {
               display: unset;
            }
            &:nth-child(n+11) {
               display: none;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
               transform: translateY(40px);
            }
            &:nth-child(2),
            &:nth-child(4) {
               transform: translateY(0px);
            }
         }
         @media (min-width: 1920px) {
            &:nth-child(even) {
               transform: translateY(80px);
            }
            &:nth-child(n+11) {
               display: unset;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
               transform: translateY(0px);
            }
            &:nth-child(2),
            &:nth-child(4) {
               transform: translateY(80px);
            }
         }
      }
      &__btn {
         @extend %btn;
         padding: 20px 0;
         max-width: 220px;
         width: 100%;
         margin: 0 auto;
         border: 1px solid $dark;
         &:hover {
            color: #FFF6E9;
            background-color: $dark;
         }
      }
   }
   .plans {
      margin-top: 20px;
      background-color: $bg;
      border-top-right-radius: 32px;
      border-top-left-radius: 32px;
      &__container {
         @extend %container;
         padding-top: 16px;
         padding-bottom: 16px;
         @media (min-width: 600px) {
            padding-top: 20px;
            padding-bottom: 20px;
         }
         @media (min-width: 993px) {
            padding-top: 30px;
            padding-bottom: 30px;
         }
         @media (min-width: 1250px) {
            padding-top: 40px;
            padding-bottom: 40px;
         }
      }
      &__inner {
         padding: 36px 16px;
         border-radius: 32px;
         background-color: #fff;
         @media (min-width: 600px) {
            padding: 36px;
         }
         @media (min-width: 769px) {
            padding: 48px;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__title {
        @extend %sec-title;
        @include fl(30,36);
         margin-bottom: 16px;
         text-align: center;
         span {
            display: block;
         }
      }
      &__text {
        @extend %sec-text;
         text-align: center;
         margin-bottom: 28px;
         @media (min-width: 769px) {
            max-width: 832px;
            margin: 0 auto 40px;
         }
         @media (min-width:993px) {
            margin-top: 60px;
         }
      }
      &__cards {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         gap: 16px;
         @media (min-width: 700px) {
            flex-direction: row;
            align-items: flex-start;
            gap: 24px;
         }
         @media (min-width: 993px) {
            justify-content: center;
            gap: 32px;
         }
      }
   }
   .card {
      max-width: 400px;
      width: 100%;
      padding: 2px;
      background: rgba(51, 51, 51, 0.1);
      border-radius: 20px;
      position: relative;
      transition: all 1s ease;
      &:hover {
         background: linear-gradient(135deg, #bcc4ec 0%, #8de6b1 44%, #3854dc 100%);
         .card__lvl {
            span {
               color: $blue;
               background-color: rgba(56, 84, 220, 0.1);
            }
         }
      }
      &__content {
         background-color: $light;
         padding: 30px 18px;
         border-radius: 18px;
      }
      &__title {
         font-weight: 500;
         @include fl(24,36);
         text-align: center;
         margin-bottom: 12px;
      }
      &__subtitle {
         text-align: center;
         @include fl(14,22);
         text-align: center;
         color: $gray;
      }
      &__price {
         @include fl(48, 72);
         font-weight: 700;
         text-align: center;
         letter-spacing: -0.05em;
         margin-bottom: 12px;
      }
      &__lvl { 
         text-align: center;
         margin-bottom: 12px;
         span {
            @include fl(13,21);
            background: rgba(97, 95, 103, 0.1);
            border-radius: 100px;
            padding: 7px 16px;
            color: $gray;
            font-weight: 500;
         }
      }
      &__text {
         @include fl(14,22);
         color: $gray;
         text-align: center;
         margin-bottom: 36px;
      }
      &__btn {
         @extend %btn;
         max-width: 220px;
         width: 100%;
         border-radius: 100px;
         padding: 15px 0;
         border: 1px solid $dark;
         margin: 0 auto 36px;
         @include fl(15,22);
         font-weight: 700;
         color: $light;
         background-color: $dark;
         &:hover {
            color: $dark;
            background-color: $light;
            border: 1px solid $dark;
         }
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 20px;
         @include fl(14,21);
      }
      &__item {
         position: relative;
         padding: 1.5px 0 1.5px 36px;
         &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            width: 24px;
            height: 24px;
            background-image: url(../../img/icons/check.svg);
         }
      }
   }
   .pref {
      background-color: $bg;
      border-bottom-right-radius: 32px;
      border-bottom-left-radius: 32px;
      &__container {
         @extend %container;
         padding-top: 4px;
         padding-bottom: 16px;
         @media (min-width: 600px) {
            padding-top: 0px;
            padding-bottom: 20px;
         }
         @media (min-width: 993px) {
            padding-top: 0px;
            padding-bottom: 30px;
         }
         @media (min-width: 1250px) {
            padding-top: 0px;
            padding-bottom: 40px;
         }
      }
      &__inner {
         padding: 36px 16px;
         border-radius: 32px;
         background-color: #fff;
         @media (min-width: 600px) {
            padding: 36px;
         }
         @media (min-width: 769px) {
            padding: 48px;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__title {
        @extend %sec-title;
         margin-bottom: 16px;
         text-align: center;
         span {
            display: block;
         }
      }
      &__text {
        @extend %sec-text;
         text-align: center;
         margin-bottom: 28px;
         @media (min-width: 769px) {
            max-width: 832px;
            margin: 0 auto 40px;
         }
         @media (min-width:993px) {
            margin-top: 60px;
         }
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 24px;
         width: 100%;
         @media (min-width: 600px) {
            flex-direction: row;
            flex-wrap: wrap;
         }
         @media (min-width: 993px) {
            gap: 32px;
         }
      }
      &__item {
         border: 1px solid rgba(51, 51, 51, 0.1);
         border-radius: 16px;
         padding: 20px;
         svg {
            margin-bottom: 28px;
         }
         @media (min-width: 600px) {
            flex: 1 0 48%;
            padding: 24px;
         }
         @media (min-width: 1250px) {
            flex:  1 0 31%;
            padding: 32px;
         }
      }
      &__item-title {
         @include fl(18,29);
         font-weight: 700;
         margin-bottom: 8px;
      }
      &__item-text {
         @include fl(14,22);
         color: $gray;
      }
   }
   .invest {
      margin-top: 16px;
      @media (min-width: 769px) {
         margin-top: 20px;
      }
      @media (min-width: 1200px) {
         margin-top: 30px;
      }
      @media (min-width: 1500px) {
         margin-top: 40px;
      }
      &__container {
         @extend %container;
         background: #EBEEFB;
         border-radius: 32px;
         @media (min-width: 600px) {
            background: unset;
            border-radius: unset;
         }
      }
      &__inner {
         display: flex;
         flex-direction: column;
         gap: 28px;
         padding: 36px 0;
         @media (min-width: 600px) {
            padding: 32px;
            background: #EBEEFB;
            border-radius: 32px;
         }
         @media (min-width: 769px) {
            padding: 48px;
            gap: 40px;
         }
         @media (min-width: 993px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__pic {
         border-radius: 24px;
         transform: rotateY(180deg);
         padding-bottom: percent(239,344);
         img {
            transform: scale(1.2);
            object-position: -90%;
         }
         @media (min-width: 993px) {
            max-width: 832px;
            padding-bottom: percent(580, 1696);
            img {
               object-position: 0%;
            }
         }
      }
      &__content {
         @media (min-width: 993px) {
            max-width: 688px;
            width: 100%;
         }
      }
      &__title {
         @extend %sec-title;
         @include fl(38,44);
         margin-bottom: 16px;
         @media (min-width: 769px) {
            margin-bottom: 20px;
            @include fl(52,60);
         }
         @media (min-width: 1400px) {
            @include fl(62,71);
            span {
               display: block;
            }
         }
      }
      &__text {
         @extend %sec-text;
         margin-bottom: 24px;
         @media (min-width: 769px) {
            margin-bottom: 32px;
         }
      }
   }
   .reviews {
      margin-top: 20px;
      background-color: $bg;
      border-top-right-radius: 32px;
      border-top-left-radius: 32px;
      @media (min-width: 993px) {
         margin-top: 40px;
      }
      &__container {
         @extend %container;
         padding-top: 16px;
         padding-bottom: 16px;
         @media (min-width: 600px) {
            padding-top: 20px;
            padding-bottom: 20px;
         }
         @media (min-width: 993px) {
            padding-top: 30px;
            padding-bottom: 30px;
         }
         @media (min-width: 1250px) {
            padding-top: 40px;
            padding-bottom: 40px;
         }
      }
      &__inner {
         padding: 36px 24px;
         border-radius: 32px;
         background-color: #fff;
         @media (min-width: 600px) {
            padding: 36px;
         }
         @media (min-width: 769px) {
            padding: 48px;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__title {
        @extend %sec-title;
        @include fl(30,36);
         margin-bottom: 28px;
         text-align: center;
         span {
            display: block;
         }
      }
      &__blockquote {
         margin: 0;
         position: relative;
         @include fl(16,26);
         max-width: 976px;
         width: 100%;
         @media (min-width: 769px) {
            @include fl(18,26);
         }
      }
      &__pic {
         max-width: 100px;
         width: 100%;
         border-radius: 100%;
         padding-bottom: 100px;
         margin: 0 auto 34px;
      }
      &__name {
         margin-bottom: 4px;
         font-weight: 600;
         @include fl(18,27);
      }
      &__desc {
         @include fl(14,21);
         color: $gray;
      }
   }
}
.slider {
   &__slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
     
   }
}
.mainSlider {
   .slider {
      &__slide {
         gap: 28px;
         padding: 32px 0;
         @media (min-width: 769px) {
            flex-direction: row;
            gap: 40px;
            padding: 40px 0;
            :nth-child(1) {
               flex-shrink: 0;
            }
         }
         @media (min-width:1120px) {
            padding: 60px 0;
            gap: 80px;
         }
      }
   }
}
.secondSlider {
   .swiper-slide {
      opacity: 0.2;
      @media (min-width: 768px) {
         .reviews__name,
         .reviews__desc {
            opacity: 0;
            transition: all .5s ease;
         }
      }
   }
   .swiper-slide-thumb-active {
      opacity: 1;
      @media (min-width: 768px) {
         .reviews__pic {
            transform: translateY(10px) scale(1.2);
         }
         .reviews__name,
         .reviews__desc {
            opacity: 1;
         }
      }
   }
   .slider {
      &__slide {
         padding-top: 28px;
         text-align: center;
      }
   }
}

