body.home {
   background-color: $light;
   .hero {
      background-color: $bg;
      &__container {
         padding-top: 14px;
         padding-bottom: 40px;
         @extend %container;
         @media (min-width: 600px) {
            padding-top: 20px;
            padding-bottom: 60px;
         }
         @media (min-width: 993px) {
            padding-top: 30px;
            padding-bottom: 70px;
         }
         @media (min-width: 1300px) {
            padding-top: 45px;
         }
         @media (min-width: 1600px) {
            padding-top: 60px;
         }
      }
      &__inner {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        position: relative; 
        @media (min-width:993px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: percent(72, 1840);
            padding-right: percent(72, 1840);
         }
      }
      &__content {
         max-width: 634px;
         width: 100%;
         @media (min-width: 993px) {
            max-width: 688px;
         }
      }
      &__title {
        @include fl(38,44);
        font-weight: 800;
        margin-bottom: 12px;
        .small-br {
            display: block;
         }
         @media (min-width: 470px) {
            .small-br {
               display: unset;
            }
            .medium-br {
               display: block;
            }
         }
         @media (min-width: 600px) {
            @include fl(58,67);
            margin-bottom: 20px;
         }
         @media (min-width: 993px) {
            @include fl(38,44);
            margin-bottom: 24px;
         }
         @media (min-width: 1200px) {
            @include fl(58, 67);
         }
         @media (min-width: 1600px) {
            @include fl(68,78);
         }
      }
      &__text {
         @include fl(15,24);
         margin-bottom: 24px;
         @media (min-width: 600px) {
            @include fl(16,26);
            margin-bottom: 32px;
         }
         @media (min-width: 993px) {
            margin-bottom: 40px;
         }
      }
      &__btn {
         @extend %btn;
         @include fl(18,27);
         font-weight: 700;
         background-color: $blue;
         color: $light;
         padding: 22px 0;
         max-width: 240px;
         width: 100%;
         &:hover {
            background-color: #4d6aff;
         }
      }
      &__pic {
         transform: scaleX(-1);
         border-radius: 24px;
         padding-bottom: percent(326, 344);
         @media (min-width: 500px) {
            padding-bottom: percent(480, 729);
         }
         @media(min-width: 993px) {
            padding-bottom: percent(832, 1696);
            max-width: 832px;
         }
      }
   }
   .work {
      background-color: $bg;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      &__container {
         @extend %container;
         padding-top: 40px;
         padding-bottom: 16px;
         @media (min-width: 600px) {
            padding-top: 60px;
            padding-bottom: 20px;
         }
         @media (min-width: 993px) {
            padding-top: 70px;
            padding-bottom: 30px;
         }
         @media (min-width: 1250px) {
            padding-bottom: 40px;
         }
      }
      &__inner {
         padding: 36px 16px;
         border-radius: 32px;
         background-color: #fff;
         @media (min-width: 600px) {
            padding: 36px;
         }
         @media (min-width: 769px) {
            padding: 48px;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__title {
        @extend %sec-title;
         margin-bottom: 16px;
         text-align: center;
         span {
            display: block;
         }
         // @media (min-width: 769px) {
         //    @include fl(40,48);
         // }
         // @media (min-width: 1400px) {
         //    @include fl(48, 58);
         // }
      }
      &__text {
        @extend %sec-text;
         text-align: center;
         margin-bottom: 28px;
         @media (min-width: 769px) {
            max-width: 832px;
            margin: 0 auto 28px;
         }
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 20px;
         @media (min-width: 769px) {
            gap: 24px;
         }
         @media (min-width: 993px) {
            gap: 32px;
         }
         @media (min-width: 1250px) {
            flex-direction: row;
            justify-content: center;
         }
      }
      &__item {
         padding: 24px;
         display: flex;
         gap: 20px;
         background: rgba(255, 255, 255, 0.5);
         box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
         border-radius: 16px;
         @media (min-width: 769px) {
            padding: 32px;
            gap: 40px;
         }
         @media (min-width: 1250px) {
            max-width: 544px;
            width: 100%;
         }
      }
      &__desc-title {
         @include fl(18,29);
         font-weight: 700;
         margin-bottom: 8px;
         @media (min-width: 769px) {
            @include fl(20,32);
         }
      }
      &__desc-text {
         @include fl(14, 22);
         @media (min-width: 769px) {
            @include fl(15,24);
         }
      }
      &__btn {
         @extend %btn;
         margin: 28px auto 0;
         padding: 18px 0;
         max-width: 220px;
         width: 100%;
         border: 1px solid #333333;
         border-radius: 8px;
         font-weight: 500;
         &:hover {
            background-color: $blue;
            color: $light;
         }
         @media (min-width: 769px) {
            margin-top: 40px;
         }
         @media (min-width: 993px) {
            margin-top: 60px;
         }
      }
   }
   .marriage {
      background-color: #fff;
      margin-top: 16px;
      &__container {
         @extend %container;
         background: #FFF6E9;
         border-radius: 32px;
         @media (min-width: 600px) {
            background: unset;
            border-radius: unset;
         }
      }
      &__inner {
         display: flex;
         flex-direction: column;
         gap: 28px;
         padding: 36px 0;
         @media (min-width: 600px) {
            padding: 36px;
            background: #FFF6E9;
            border-radius: 32px;
         }
         @media (min-width: 769px) {
            padding: 48px;
            gap: 40px;
         }
         @media (min-width: 993px) {
            flex-direction: row;
            justify-content: space-between;
         }
         @media (min-width: 1600px) {
            padding: 72px;
         }
      }
      &__pics {
         display: flex;
         align-items: center;
         gap: 12px;
         @media (min-width: 769px) {
            gap: 16px;
         }
         @media (min-width: 993px) {
            flex: 1 0 50%;
         }
      }
      &__pic {
         border-radius: 16px;
         border: 4px solid #FFFFFF;
         padding-bottom: percent(166, 237.93);
         &:nth-child(2) {
            img {
               object-position: right;
            }
         }
         &:nth-child(3) {
            display: none;
         }
         @media (min-width: 769px) {
            border-width: 6px;
            padding-bottom: percent(308, 529.79);
         }
         @media (min-width: 993px) {
            max-width: 264px;
         }
         @media (min-width: 1440px) {
            &:nth-child(3) {
               display: block;
            }
            padding-bottom: percent(264, 734.34);
         }
      }
      &__content {
         @media (min-width: 993px) {
            max-width: 688px;
            width: 100%;
         }
      }
      &__title {
        @extend %sec-title;
        margin-bottom: 16px;
        @media (min-width: 769px) {
         margin-bottom: 20px;
        }
      }
      &__text {
         @extend %sec-text;
      }
   }
}
