@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
ol,
ul,
li,
form,
aside,
footer,
header,
menu,
nav,
section,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

body.home .process__container,
body.home .faq__container,
body.home .reviews__container,
body.home .invest__container,
body.home .pref__container,
body.home .plans__container,
body.home .get__container,
body.home .choose__container,
body.home .marriage__container,
body.home .work__container,
body.home .hero__container,
.footer__container,
.header-action__body,
.header__container {
  padding-left: 4.2553191489%;
  padding-right: 4.2553191489%;
}

body.home .card__btn,
body.home .get__btn,
body.home .work__btn,
body.home .hero__btn,
.header__controls-btn,
.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

body.home .process__title,
body.home .faq__title,
body.home .reviews__title,
body.home .invest__title,
body.home .pref__title,
body.home .plans__title,
body.home .get__title,
body.home .choose__title,
body.home .marriage__title,
body.home .work__title {
  font-size: 1.75rem;
  line-height: 1.2142857143;
  font-weight: 800;
}

body.home .process__text,
body.home .faq__text,
body.home .invest__text,
body.home .pref__text,
body.home .plans__text,
body.home .get__text,
body.home .choose__text,
body.home .marriage__text,
body.home .work__text {
  color: #615F67;
  font-size: 0.9375rem;
  line-height: 1.6;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Medium.woff") format("woff"), url("../fonts/NotoSans-Medium.woff-2") format("woff-2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-SemiBold.woff") format("woff"), url("../fonts/NotoSans-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff-2") format("woff-2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.woff-2") format("woff-2");
  font-weight: 800;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 1.25;
  color: #333;
  background-color: #F8F6F9;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.image {
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.hv:hover img {
  transform: scale(1.2);
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.header:hover {
  opacity: 1 !important;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__body {
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header__logo {
  z-index: 2;
  font-size: 1.875rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.header__logo img {
  max-width: 168px;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__btn {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  background: #3854DC;
  padding: 20px 0;
}

.header__btn:hover {
  background-color: #4d6aff;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__controls-btn {
  display: none;
}

.header-action {
  display: block;
  margin-bottom: 48px;
}

.header-action__body {
  position: fixed;
  height: calc(100% - 66px);
  top: 66px;
  left: 0;
  max-width: 100%;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  transition: all 0.5s ease;
  transform: translateY(-200%);
  z-index: 2;
}

.header-action__body.active {
  transform: translateY(0%);
  overflow: auto;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.header-action li {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  line-height: 1.5833333333;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  margin-top: 48px;
  padding-bottom: 0;
}

.header-action li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger:hover {
  transform: scale(1.2);
}

.burger__wrapper {
  width: 22px;
  height: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translateY(-150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 100%;
    transform: translateY(-300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translateY(-150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translateY(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translateY(-300%);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }
}

.footer {
  margin-top: 26px;
}

.footer__container {
  background: #333;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.footer__inner {
  padding: 36px 0px;
}

.footer__text {
  margin-top: 24px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  opacity: 0.7;
  color: #fff;
  margin-bottom: 28px;
}

.footer__item + .footer__item {
  margin-top: 20px;
}

.footer__link {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

.footer__copy {
  padding-top: 20px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  color: #fff;
  opacity: 0.7;
  text-align: center;
}

.footer .spoiler {
  padding-bottom: 24px;
  padding-top: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .spoiler__title {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
}

.footer .spoiler__body {
  padding-top: 20px;
}

.btn {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgb(111, 56, 199);
  width: 100px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover:after {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:active:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn.modify {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.spoiler {
  width: auto;
  color: #333;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding-bottom: 28px;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.spoiler__title {
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 10px;
  padding-bottom: 0px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(45deg);
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up__close-icon:after,
.pop-up__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up-video.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up-video__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up-video__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up-video__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up-video__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up-video__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up-video__close-icon:after,
.pop-up-video__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up-video__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up-video__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video__content {
  position: relative;
  overflow: hidden;
}

.pop-up-video__preview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

body.home {
  background-color: #fff;
}

body.home .hero {
  background-color: #f8f6f9;
}

body.home .hero__container {
  padding-top: 14px;
  padding-bottom: 40px;
}

body.home .hero__inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  position: relative;
}

body.home .hero__content {
  max-width: 634px;
  width: 100%;
}

body.home .hero__title {
  font-size: 2.375rem;
  line-height: 1.1578947368;
  font-weight: 800;
  margin-bottom: 12px;
}

body.home .hero__title .small-br {
  display: block;
}

body.home .hero__text {
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 24px;
}

body.home .hero__btn {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  background-color: #3854DC;
  color: #fff;
  padding: 22px 0;
  max-width: 240px;
  width: 100%;
}

body.home .hero__btn:hover {
  background-color: #4d6aff;
}

body.home .hero__pic {
  transform: scaleX(-1);
  border-radius: 24px;
  padding-bottom: 94.7674418605%;
}

body.home .work {
  background-color: #f8f6f9;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

body.home .work__container {
  padding-top: 40px;
  padding-bottom: 16px;
}

body.home .work__inner {
  padding: 36px 16px;
  border-radius: 32px;
  background-color: #fff;
}

body.home .work__title {
  margin-bottom: 16px;
  text-align: center;
}

body.home .work__title span {
  display: block;
}

body.home .work__text {
  text-align: center;
  margin-bottom: 28px;
}

body.home .work__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body.home .work__item {
  padding: 24px;
  display: flex;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

body.home .work__desc-title {
  font-size: 1.125rem;
  line-height: 1.6111111111;
  font-weight: 700;
  margin-bottom: 8px;
}

body.home .work__desc-text {
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

body.home .work__btn {
  margin: 28px auto 0;
  padding: 18px 0;
  max-width: 220px;
  width: 100%;
  border: 1px solid #333333;
  border-radius: 8px;
  font-weight: 500;
}

body.home .work__btn:hover {
  background-color: #3854DC;
  color: #fff;
}

body.home .marriage {
  background-color: #fff;
  margin-top: 16px;
}

body.home .marriage__container {
  background: #FFF6E9;
  border-radius: 32px;
}

body.home .marriage__inner {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 36px 0;
}

body.home .marriage__pics {
  display: flex;
  align-items: center;
  gap: 12px;
}

body.home .marriage__pic {
  border-radius: 16px;
  border: 4px solid #FFFFFF;
  padding-bottom: 69.768419283%;
}

body.home .marriage__pic:nth-child(2) img {
  -o-object-position: right;
  object-position: right;
}

body.home .marriage__pic:nth-child(3) {
  display: none;
}

body.home .marriage__title {
  margin-bottom: 16px;
}

body.home .choose {
  margin-top: 16px;
}

body.home .choose__container {
  background: #EBEEFB;
  border-radius: 32px;
}

body.home .choose__inner {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 36px 0;
}

body.home .choose__title {
  margin-bottom: 16px;
}

body.home .choose__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

body.home .choose__item {
  min-width: 166px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  text-align: center;
  padding: 16px 12px;
  flex-basis: 48.026%;
}

body.home .choose__item-num {
  font-size: 3rem;
  line-height: 1.6041666667;
  font-weight: 700;
}

body.home .choose__item-text {
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

body.home .get {
  background-color: #fff;
  margin-top: 16px;
}

body.home .get__container {
  background: #FFF6E9;
  border-radius: 32px;
}

body.home .get__inner {
  padding: 36px 0px;
}

body.home .get__title {
  margin-bottom: 16px;
  text-align: center;
}

body.home .get__text {
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

body.home .get__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 28px 0 68px;
}

body.home .get__item {
  max-width: 200px;
  width: 100%;
  border-radius: 16px;
  flex: 1 0 48%;
  padding-bottom: 45.9302325581%;
  border: 4px solid #fff;
}

body.home .get__item img {
  transition: all 0.5s ease;
}

body.home .get__item img:hover {
  transform: scale(1.1);
}

body.home .get__item:nth-child(even) {
  transform: translateY(40px);
}

body.home .get__item:nth-child(n+5) {
  display: none;
}

body.home .get__item:nth-child(2) img,
body.home .get__item:nth-child(7) img {
  -o-object-position: 90%;
  object-position: 90%;
}

body.home .get__item:nth-child(4) img {
  -o-object-position: 60%;
  object-position: 60%;
}

body.home .get__item:nth-child(9) img {
  -o-object-position: 30%;
  object-position: 30%;
}

body.home .get__btn {
  padding: 20px 0;
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
}

body.home .get__btn:hover {
  color: #FFF6E9;
  background-color: #333;
}

body.home .plans {
  margin-top: 20px;
  background-color: #f8f6f9;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}

body.home .plans__container {
  padding-top: 16px;
  padding-bottom: 16px;
}

body.home .plans__inner {
  padding: 36px 16px;
  border-radius: 32px;
  background-color: #fff;
}

body.home .plans__title {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 16px;
  text-align: center;
}

body.home .plans__title span {
  display: block;
}

body.home .plans__text {
  text-align: center;
  margin-bottom: 28px;
}

body.home .plans__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

body.home .card {
  max-width: 400px;
  width: 100%;
  padding: 2px;
  background: rgba(51, 51, 51, 0.1);
  border-radius: 20px;
  position: relative;
  transition: all 1s ease;
}

body.home .card:hover {
  background: linear-gradient(135deg, #bcc4ec 0%, #8de6b1 44%, #3854dc 100%);
}

body.home .card:hover .card__lvl span {
  color: #3854DC;
  background-color: rgba(56, 84, 220, 0.1);
}

body.home .card__content {
  background-color: #fff;
  padding: 30px 18px;
  border-radius: 18px;
}

body.home .card__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

body.home .card__subtitle {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  text-align: center;
  color: #615F67;
}

body.home .card__price {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 12px;
}

body.home .card__lvl {
  text-align: center;
  margin-bottom: 12px;
}

body.home .card__lvl span {
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  background: rgba(97, 95, 103, 0.1);
  border-radius: 100px;
  padding: 7px 16px;
  color: #615F67;
  font-weight: 500;
}

body.home .card__text {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #615F67;
  text-align: center;
  margin-bottom: 36px;
}

body.home .card__btn {
  max-width: 220px;
  width: 100%;
  border-radius: 100px;
  padding: 15px 0;
  border: 1px solid #333;
  margin: 0 auto 36px;
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  font-weight: 700;
  color: #fff;
  background-color: #333;
}

body.home .card__btn:hover {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
}

body.home .card__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.875rem;
  line-height: 1.5;
}

body.home .card__item {
  position: relative;
  padding: 1.5px 0 1.5px 36px;
}

body.home .card__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  background-image: url(../../img/icons/check.svg);
}

body.home .pref {
  background-color: #f8f6f9;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

body.home .pref__container {
  padding-top: 4px;
  padding-bottom: 16px;
}

body.home .pref__inner {
  padding: 36px 16px;
  border-radius: 32px;
  background-color: #fff;
}

body.home .pref__title {
  margin-bottom: 16px;
  text-align: center;
}

body.home .pref__title span {
  display: block;
}

body.home .pref__text {
  text-align: center;
  margin-bottom: 28px;
}

body.home .pref__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

body.home .pref__item {
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 16px;
  padding: 20px;
}

body.home .pref__item svg {
  margin-bottom: 28px;
}

body.home .pref__item-title {
  font-size: 1.125rem;
  line-height: 1.6111111111;
  font-weight: 700;
  margin-bottom: 8px;
}

body.home .pref__item-text {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #615F67;
}

body.home .invest {
  margin-top: 16px;
}

body.home .invest__container {
  background: #EBEEFB;
  border-radius: 32px;
}

body.home .invest__inner {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 36px 0;
}

body.home .invest__pic {
  border-radius: 24px;
  transform: rotateY(180deg);
  padding-bottom: 69.476744186%;
}

body.home .invest__pic img {
  transform: scale(1.2);
  -o-object-position: -90%;
  object-position: -90%;
}

body.home .invest__title {
  font-size: 2.375rem;
  line-height: 1.1578947368;
  margin-bottom: 16px;
}

body.home .invest__text {
  margin-bottom: 24px;
}

body.home .reviews {
  margin-top: 20px;
  background-color: #f8f6f9;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}

body.home .reviews__container {
  padding-top: 16px;
  padding-bottom: 16px;
}

body.home .reviews__inner {
  padding: 36px 24px;
  border-radius: 32px;
  background-color: #fff;
}

body.home .reviews__title {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 28px;
  text-align: center;
}

body.home .reviews__title span {
  display: block;
}

body.home .reviews__blockquote {
  margin: 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.625;
  max-width: 976px;
  width: 100%;
}

body.home .reviews__pic {
  max-width: 100px;
  width: 100%;
  border-radius: 100%;
  padding-bottom: 100px;
  margin: 0 auto 34px;
}

body.home .reviews__name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
}

body.home .reviews__desc {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #615F67;
}

body.home .slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body.home .slider__arrow-prev {
  background-image: url(../../img/icons/arrow-left-short.svg);
  left: 0;
}

body.home .slider__arrow-next {
  background-image: url(../../img/icons/arrow-right-short.svg);
  right: 0;
}

body.home .mainSlider .slider__slide {
  gap: 28px;
  padding: 32px 0;
}

body.home .secondSlider .swiper-slide {
  opacity: 0.2;
}

body.home .secondSlider .swiper-slide-thumb-active {
  opacity: 1;
}

body.home .secondSlider .slider__slide {
  padding-top: 28px;
  text-align: center;
}

body.home .faq {
  background-color: #f8f6f9;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

body.home .faq__container {
  padding-top: 4px;
  padding-bottom: 16px;
}

body.home .faq__inner {
  padding: 36px 16px;
  border-radius: 32px;
  background-color: #fff;
}

body.home .faq__title {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 28px;
  text-align: center;
}

body.home .faq__title span {
  display: block;
}

body.home .faq__text {
  font-size: 0.9375rem;
  line-height: 1.6;
  text-align: center;
  max-width: 832px;
  margin: 0 auto 40px;
}

body.home .faq__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 40px;
}

body.home .faq__btn {
  color: #3854DC;
  border-color: #3854DC;
}

body.home .faq__btn:hover {
  background-color: #3854DC;
  color: #fff;
}

body.home .process {
  background-color: #fff;
  margin-top: 16px;
}

body.home .process__container {
  background: #FFF6E9;
  border-radius: 32px;
}

body.home .process__inner {
  padding: 36px 0px;
}

body.home .process__subtitle {
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  margin-bottom: 20px;
  position: relative;
  font-size: 1rem;
  line-height: 1.625;
}

body.home .process__subtitle::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: #333;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body.home .process__title {
  margin-bottom: 16px;
  text-align: center;
}

body.home .process__text {
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 28px;
}

body.home .process__btn {
  margin: 0 auto;
}

@media (min-width: 470px) {
  body.home .hero__title .small-br {
    display: unset;
  }

  body.home .hero__title .medium-br {
    display: block;
  }
}

@media (min-width: 500px) {
  body.home .hero__pic {
    padding-bottom: 65.8436213992%;
  }

  body.home .get__list {
    gap: 16px;
    padding: 33px 0 84px;
  }

  body.home .get__item {
    flex: 1 0 32%;
    padding-bottom: 29.1984123363%;
  }

  body.home .get__item:nth-child(n+5) {
    display: unset;
  }

  body.home .get__item:nth-child(n+7) {
    display: none;
  }
}

@media (min-width: 600px) {
  .header__body {
    min-height: 80px;
  }

  .header__logo img {
    max-width: unset;
  }

  .header__btn {
    display: none;
  }

  .header__controls-btn {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.2857142857;
    color: #333;
    padding: 13px 0;
    width: 160px;
    border: 1px solid #333;
    z-index: 2;
  }

  .header__controls-btn:hover {
    color: #fff;
    background-color: #3854DC;
  }

  .header-action__body {
    top: 80px;
  }

  .footer__container {
    background: unset;
    border-radius: unset;
    margin-bottom: 20px;
  }

  .footer__inner {
    padding: 36px;
    background: #333;
    border-radius: 32px;
  }

  body.home .hero__container {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  body.home .hero__title {
    font-size: 3.625rem;
    line-height: 1.1551724138;
    margin-bottom: 20px;
  }

  body.home .hero__text {
    font-size: 1rem;
    line-height: 1.625;
    margin-bottom: 32px;
  }

  body.home .work__container {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  body.home .work__inner {
    padding: 36px;
  }

  body.home .marriage__container {
    background: unset;
    border-radius: unset;
  }

  body.home .marriage__inner {
    padding: 36px;
    background: #FFF6E9;
    border-radius: 32px;
  }

  body.home .choose__container {
    background: unset;
    border-radius: unset;
  }

  body.home .choose__inner {
    padding: 36px;
    background: #EBEEFB;
    border-radius: 32px;
  }

  body.home .get__container {
    background: unset;
    border-radius: unset;
  }

  body.home .get__inner {
    padding: 36px;
    background: #FFF6E9;
    border-radius: 32px;
  }

  body.home .plans__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  body.home .plans__inner {
    padding: 36px;
  }

  body.home .pref__container {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  body.home .pref__inner {
    padding: 36px;
  }

  body.home .pref__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  body.home .pref__item {
    flex: 1 0 48%;
    padding: 24px;
  }

  body.home .invest__container {
    background: unset;
    border-radius: unset;
  }

  body.home .invest__inner {
    padding: 32px;
    background: #EBEEFB;
    border-radius: 32px;
  }

  body.home .reviews__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  body.home .reviews__inner {
    padding: 36px;
  }

  body.home .faq__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  body.home .faq__inner {
    padding: 36px;
  }

  body.home .process__container {
    background: unset;
    border-radius: unset;
  }

  body.home .process__inner {
    padding: 36px;
    background: #FFF6E9;
    border-radius: 32px;
  }
}

@media (min-width: 700px) {
  body.home .plans__cards {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .footer__inner {
    padding: 48px;
  }

  .footer .spoiler {
    border-bottom: none;
  }

  .footer .spoiler__preview {
    cursor: default;
    pointer-events: none;
  }

  .footer .spoiler__icon {
    display: none;
  }

  .footer .spoiler__wrapper {
    height: auto !important;
  }

  .spoiler__title {
    font-size: 1.125rem;
    line-height: 1.2222222222;
  }

  body.home .get__inner {
    padding: 48px;
  }

  body.home .get__item {
    padding-bottom: 30.3053261611%;
  }

  body.home .get__item:nth-child(1),
  body.home .get__item:nth-child(3) {
    transform: translateY(40px);
  }

  body.home .get__item:nth-child(2),
  body.home .get__item:nth-child(5) {
    transform: translateY(0px);
  }

  body.home .secondSlider .swiper-slide .reviews__name,
  body.home .secondSlider .swiper-slide .reviews__desc {
    opacity: 0;
    transition: all 0.5s ease;
  }

  body.home .secondSlider .swiper-slide-thumb-active .reviews__pic {
    transform: translateY(10px) scale(1.2);
  }

  body.home .secondSlider .swiper-slide-thumb-active .reviews__name,
  body.home .secondSlider .swiper-slide-thumb-active .reviews__desc {
    opacity: 1;
  }

  body.home .process__inner {
    padding: 48px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .footer .spoiler__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 36px;
  }

  .footer .spoiler__list .spoiler {
    flex: 1 0 48%;
  }
}

@media (min-width: 768px) and (min-width: 993px) {
  .footer .spoiler__list .spoiler {
    flex: 1 0 31%;
  }
}

@media (min-width: 768px) and (min-width: 1400px) {
  .footer .spoiler__list {
    max-width: 976px;
    width: 100%;
    flex-wrap: nowrap;
    gap: 40px;
  }
}

@media (min-width: 769px) {
  body.home .process__container,
  body.home .faq__container,
  body.home .reviews__container,
  body.home .invest__container,
  body.home .pref__container,
  body.home .plans__container,
  body.home .get__container,
  body.home .choose__container,
  body.home .marriage__container,
  body.home .work__container,
  body.home .hero__container,
  .footer__container,
  .header-action__body,
  .header__container {
    padding-left: 2.6007802341%;
    padding-right: 2.6007802341%;
  }

  body.home .process__title,
  body.home .faq__title,
  body.home .reviews__title,
  body.home .invest__title,
  body.home .pref__title,
  body.home .plans__title,
  body.home .get__title,
  body.home .choose__title,
  body.home .marriage__title,
  body.home .work__title {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  body.home .process__text,
  body.home .faq__text,
  body.home .invest__text,
  body.home .pref__text,
  body.home .plans__text,
  body.home .get__text,
  body.home .choose__text,
  body.home .marriage__text,
  body.home .work__text {
    font-size: 1rem;
    line-height: 1.625;
    width: 100%;
  }

  .header-action li:hover a:after {
    width: 100%;
  }

  .header-action li a {
    display: block;
    position: relative;
  }

  .header-action li a:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 1px;
    background: #333;
    transition: all 0.3s ease;
  }

  .footer {
    margin-top: 20px;
  }

  .footer__copy {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  body.home .work__inner {
    padding: 48px;
  }

  body.home .work__text {
    max-width: 832px;
    margin: 0 auto 28px;
  }

  body.home .work__list {
    gap: 24px;
  }

  body.home .work__item {
    padding: 32px;
    gap: 40px;
  }

  body.home .work__desc-title {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  body.home .work__desc-text {
    font-size: 0.9375rem;
    line-height: 1.6;
  }

  body.home .work__btn {
    margin-top: 40px;
  }

  body.home .marriage {
    margin-top: 20px;
  }

  body.home .marriage__inner {
    padding: 48px;
    gap: 40px;
  }

  body.home .marriage__pics {
    gap: 16px;
  }

  body.home .marriage__pic {
    border-width: 6px;
    padding-bottom: 58.1362426622%;
  }

  body.home .marriage__title {
    margin-bottom: 20px;
  }

  body.home .choose {
    margin-top: 20px;
  }

  body.home .choose__inner {
    padding: 48px;
    gap: 40px;
  }

  body.home .choose__title {
    margin-bottom: 20px;
  }

  body.home .choose__list {
    gap: 24px;
  }

  body.home .choose__item {
    padding: 28px 20px;
  }

  body.home .choose__item-num {
    font-size: 4.25rem;
    line-height: 1.6029411765;
  }

  body.home .choose__item-text {
    font-size: 0.9375rem;
    line-height: 1.6;
  }

  body.home .get {
    margin-top: 20px;
  }

  body.home .get__title {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 20px;
  }

  body.home .plans__inner {
    padding: 48px;
  }

  body.home .plans__text {
    max-width: 832px;
    margin: 0 auto 40px;
  }

  body.home .pref__inner {
    padding: 48px;
  }

  body.home .pref__text {
    max-width: 832px;
    margin: 0 auto 40px;
  }

  body.home .invest {
    margin-top: 20px;
  }

  body.home .invest__inner {
    padding: 48px;
    gap: 40px;
  }

  body.home .invest__title {
    margin-bottom: 20px;
    font-size: 3.25rem;
    line-height: 1.1538461538;
  }

  body.home .invest__text {
    margin-bottom: 32px;
  }

  body.home .reviews__inner {
    padding: 48px;
  }

  body.home .reviews__blockquote {
    font-size: 1.125rem;
    line-height: 1.4444444444;
  }

  body.home .mainSlider .slider__slide {
    flex-direction: row;
    gap: 40px;
    padding: 40px 0;
  }

  body.home .mainSlider .slider__slide :nth-child(1) {
    flex-shrink: 0;
  }

  body.home .faq__inner {
    padding: 48px;
  }

  body.home .process {
    margin-top: 20px;
  }

  body.home .process__title {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 20px;
  }
}

@media (min-width: 950px) {
  body.home .get__item {
    flex: 1 0 23%;
  }

  body.home .get__item:nth-child(n+7) {
    display: unset;
  }

  body.home .get__item:nth-child(n+9) {
    display: none;
  }

  body.home .get__item:nth-child(1),
  body.home .get__item:nth-child(3),
  body.home .get__item:nth-child(5) {
    transform: translateY(0px);
  }

  body.home .get__item:nth-child(2) {
    transform: translateY(40px);
  }
}

@media (min-width: 993px) {
  .header-action {
    flex: 1 1 auto;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }

  .header-action__body {
    transform: translateY(0);
    position: static;
    max-width: 450px;
    width: 100%;
    padding-inline: 0 !important;
  }

  .header-action li {
    font-size: 1rem;
    line-height: 1.625;
    margin-top: 0;
    border-bottom: none;
  }

  .burger {
    display: none;
  }

  .footer__inner {
    padding: 72px;
  }

  body.home .hero__container {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  body.home .hero__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.9130434783%;
    padding-right: 3.9130434783%;
  }

  body.home .hero__content {
    max-width: 688px;
  }

  body.home .hero__title {
    font-size: 2.375rem;
    line-height: 1.1578947368;
    margin-bottom: 24px;
  }

  body.home .hero__text {
    margin-bottom: 40px;
  }

  body.home .hero__pic {
    padding-bottom: 49.0566037736%;
    max-width: 832px;
  }

  body.home .work__container {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  body.home .work__list {
    gap: 32px;
  }

  body.home .work__btn {
    margin-top: 60px;
  }

  body.home .marriage__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  body.home .marriage__pics {
    flex: 1 0 50%;
  }

  body.home .marriage__pic {
    max-width: 264px;
  }

  body.home .marriage__content {
    max-width: 688px;
    width: 100%;
  }

  body.home .choose__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  body.home .choose__content {
    max-width: 688px;
    width: 100%;
  }

  body.home .choose__item {
    flex-basis: 46%;
  }

  body.home .get__inner {
    padding: 72px;
  }

  body.home .get__list {
    gap: 20px;
    padding: 40px 0 100px;
  }

  body.home .plans__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  body.home .plans__text {
    margin-top: 60px;
  }

  body.home .plans__cards {
    justify-content: center;
    gap: 32px;
  }

  body.home .pref__container {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  body.home .pref__text {
    margin-top: 60px;
  }

  body.home .pref__list {
    gap: 32px;
  }

  body.home .invest__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  body.home .invest__pic {
    max-width: 832px;
    padding-bottom: 34.1981132075%;
  }

  body.home .invest__pic img {
    -o-object-position: 0%;
    object-position: 0%;
  }

  body.home .invest__content {
    max-width: 688px;
    width: 100%;
  }

  body.home .reviews {
    margin-top: 40px;
  }

  body.home .reviews__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  body.home .secondSlider .swiper-slide {
    max-width: 210px;
    width: 100%;
    margin: 0;
  }

  body.home .faq__container {
    padding-top: 0;
    padding-bottom: 30px;
  }

  body.home .process__inner {
    padding: 72px;
  }
}

@media (min-width: 1120px) {
  body.home .mainSlider .slider__slide {
    padding: 60px 0;
    gap: 80px;
  }
}

@media (min-width: 1200px) {
  body.home .process__container,
  body.home .faq__container,
  body.home .reviews__container,
  body.home .invest__container,
  body.home .pref__container,
  body.home .plans__container,
  body.home .get__container,
  body.home .choose__container,
  body.home .marriage__container,
  body.home .work__container,
  body.home .hero__container,
  .footer__container,
  .header-action__body,
  .header__container {
    padding-left: 2.4193548387%;
    padding-right: 2.4193548387%;
  }

  .header-action__body {
    max-width: 600px;
  }

  .footer {
    margin-top: 30px;
  }

  body.home .hero__title {
    font-size: 3.625rem;
    line-height: 1.1551724138;
  }

  body.home .marriage {
    margin-top: 30px;
  }

  body.home .choose {
    margin-top: 30px;
  }

  body.home .get {
    margin-top: 30px;
  }

  body.home .invest {
    margin-top: 30px;
  }

  body.home .process {
    margin-top: 30px;
  }
}

@media (min-width: 1250px) {
  .spoiler__title {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  body.home .work__container {
    padding-bottom: 40px;
  }

  body.home .work__list {
    flex-direction: row;
    justify-content: center;
  }

  body.home .work__item {
    max-width: 544px;
    width: 100%;
  }

  body.home .choose__list {
    gap: 32px;
    max-width: 832px;
    width: 100%;
  }

  body.home .get__item {
    max-width: 266px;
    flex: 1 0 16%;
    padding-bottom: 15.2124307291%;
    border: 6px solid #fff;
  }

  body.home .get__item:nth-child(n+9) {
    display: unset;
  }

  body.home .get__item:nth-child(n+11) {
    display: none;
  }

  body.home .get__item:nth-child(1),
  body.home .get__item:nth-child(3),
  body.home .get__item:nth-child(5) {
    transform: translateY(40px);
  }

  body.home .get__item:nth-child(2),
  body.home .get__item:nth-child(4) {
    transform: translateY(0px);
  }

  body.home .plans__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body.home .pref__container {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  body.home .pref__item {
    flex: 1 0 31%;
    padding: 32px;
  }

  body.home .reviews__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body.home .secondSlider {
    position: relative;
    max-width: 1408px;
    width: 100%;
  }

  body.home .secondSlider .slider__wrapper {
    justify-content: center;
    gap: 32px;
  }

  body.home .faq__container {
    padding-top: 0px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1300px) {
  body.home .hero__container {
    padding-top: 45px;
  }
}

@media (min-width: 1400px) {
  body.home .process__title,
  body.home .faq__title,
  body.home .reviews__title,
  body.home .invest__title,
  body.home .pref__title,
  body.home .plans__title,
  body.home .get__title,
  body.home .choose__title,
  body.home .marriage__title,
  body.home .work__title {
    font-size: 3rem;
    line-height: 1.2083333333;
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
  }

  .footer__content .footer__about {
    max-width: 400px;
    width: 100%;
  }

  body.home .get__title {
    max-width: 600px;
  }

  body.home .get__text {
    max-width: 880px;
  }

  body.home .invest__title {
    font-size: 3.875rem;
    line-height: 1.1451612903;
  }

  body.home .invest__title span {
    display: block;
  }

  body.home .slider__arrow-prev,
  body.home .slider__arrow-next {
    width: 60px;
    height: 60px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #333;
    border-radius: 100%;
    z-index: 10;
  }

  body.home .process__title {
    max-width: 600px;
  }

  body.home .process__text {
    max-width: 880px;
  }
}

@media (min-width: 1440px) {
  body.home .marriage__pic {
    padding-bottom: 35.9506495629%;
  }

  body.home .marriage__pic:nth-child(3) {
    display: block;
  }

  body.home .choose__item {
    flex-basis: 47%;
  }

  body.home .get__list {
    padding: 60px 0 140px;
  }
}

@media (min-width: 1500px) {
  body.home .process__container,
  body.home .faq__container,
  body.home .reviews__container,
  body.home .invest__container,
  body.home .pref__container,
  body.home .plans__container,
  body.home .get__container,
  body.home .choose__container,
  body.home .marriage__container,
  body.home .work__container,
  body.home .hero__container,
  .footer__container,
  .header-action__body,
  .header__container {
    padding-left: 2.0833333333%;
    padding-right: 2.0833333333%;
  }

  .footer {
    margin-top: 40px;
  }

  body.home .marriage {
    margin-top: 40px;
  }

  body.home .choose {
    margin-top: 40px;
  }

  body.home .get {
    margin-top: 40px;
  }

  body.home .invest {
    margin-top: 40px;
  }

  body.home .process {
    margin-top: 40px;
  }
}

@media (min-width: 1600px) {
  body.home .hero__container {
    padding-top: 60px;
  }

  body.home .hero__title {
    font-size: 4.25rem;
    line-height: 1.1470588235;
  }

  body.home .work__inner {
    padding: 72px;
  }

  body.home .marriage__inner {
    padding: 72px;
  }

  body.home .choose__inner {
    padding: 72px;
  }

  body.home .plans__inner {
    padding: 72px;
  }

  body.home .pref__inner {
    padding: 72px;
  }

  body.home .invest__inner {
    padding: 72px;
  }

  body.home .reviews__inner {
    padding: 72px;
  }

  body.home .faq__inner {
    padding: 72px;
  }
}

@media (min-width: 1920px) {
  body.home .choose__item {
    flex-basis: 48.077%;
  }

  body.home .get__item:nth-child(even) {
    transform: translateY(80px);
  }

  body.home .get__item:nth-child(n+11) {
    display: unset;
  }

  body.home .get__item:nth-child(1),
  body.home .get__item:nth-child(3),
  body.home .get__item:nth-child(5) {
    transform: translateY(0px);
  }

  body.home .get__item:nth-child(2),
  body.home .get__item:nth-child(4) {
    transform: translateY(80px);
  }
}

@media (max-width: 375px) {
  body.home .choose__item {
    min-width: unset;
    flex-basis: 47%;
  }
}