@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
ol,
ul,
li,
form,
aside,
footer,
header,
menu,
nav,
section,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

body.test .hero__container,
.footer__container,
.header__container {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Meidum.woff") format("woff"), url("../fonts/Nunito-Meidum.woff-2") format("woff-2");
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "CustomFont";
  font-size: 1rem;
  line-height: 1.25;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.header {
  background-color: grey;
  position: fixed;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.header:hover {
  opacity: 1 !important;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__body {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header__logo {
  z-index: 2;
  font-size: 1.875rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header-action {
  flex: 1 1 auto;
  max-width: 150px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.header-action li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-action li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger:hover {
  transform: scale(1.2);
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translateY(-150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 100%;
    transform: translateY(-300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translateY(-150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translateY(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translateY(-300%);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }
}

.btn {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgb(111, 56, 199);
  width: 100px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover:after {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:active:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn.modify {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.spoiler {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up__close-icon:after,
.pop-up__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up-video.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up-video__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up-video__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up-video__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up-video__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up-video__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up-video__close-icon:after,
.pop-up-video__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up-video__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up-video__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video__content {
  position: relative;
  overflow: hidden;
}

.pop-up-video__preview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

body.test .hero__container {
  padding-top: 30px;
}

@media (min-width: 769px) {
  body.test .hero__container,
  .footer__container,
  .header__container {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .header-action li:hover a:after {
    width: 100%;
  }

  .header-action li a {
    display: block;
    position: relative;
  }

  .header-action li a:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 1px;
    background: #000;
    transition: all 0.3s ease;
  }

  .burger {
    display: none;
  }
}

@media (min-width: 1200px) {
  body.test .hero__container,
  .footer__container,
  .header__container {
    padding-left: 3.4722222222%;
    padding-right: 3.4722222222%;
  }
}