<div data-pop-up-open class="button">Open pop-up-video button (Поп-ап обязательно должен идти соседним элементом после этого!)</div>
<div data-pop-up data-video class="pop-up-video">
	<div class="pop-up-video__wrapper">
		<div class="pop-up-video__body">
			<div data-pop-up-close data-video-close class="pop-up-video__close-icon-wrapper">
				<div class="pop-up-video__close-icon"></div>
			</div>
			<div class="pop-up-video__content">
				<div data-video-preview data-video-play class="pop-up-video__preview">preview</div>
				<iframe width="560" height="315" data-src-video="https://www.youtube.com/embed/xgMLOxllg04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>